<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | Apply</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">

	<!-- RECORD USER ACHIEVEMENTS -->
	<script src="../js/Achievements/trackers.js"></script>
	<script src="../js/Achievements/cookies.js"></script>
</head>
<body>
	<div class="main-container" id="top">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/achievements.html">Achievements</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix apply load" id="main-container">

			<div class="hero-image">
				<div class="overlay left">
					<div class="overlay-text">
						Start <span class="highlight"><a href="../index.html">here,</a></span>
						<br>
						and be the <span class="highlight"><a href="../index.html">change.</a></span>
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/20.jpg" alt="">
			</div>

			<br><br>
			<div style="text-align: center; font-size: 30px; font-weight: bold; color: #FF0000; padding-top: 10px; 
			padding-bottom: 10px; margin-left: 10px; margin-right: 10px">
				APPLICATIONS ARE NOW OPEN!<br>
				GOOD LUCK!
			</div>

			<div class="position-container">
				<div class="table clearfix">
					<div class="col-30">
						<div class="position-list-item">
							<img src="../images/icon/gear.png">
							<p>Internal JO</p>
							<ul>
								<li>The JOs for VP-I are closely involved in the planning and logistics of TASA’s largest events, Night Market and Taste of Taiwan, in which we recreate the grand night markets of Taiwan with food, games and performances.</li>
								<li>If you are organized, motivated, have creative ideas and want to learn more about planning large-scale events, becoming a VP-I JO would be ideal.</li>
							</ul>
							 <a href="https://goo.gl/forms/Pzb8HRouExgVYT9g1">APPLY NOW</a> 
						</div>
						<div class="position-list-item">
							<img src="../images/icon/money.png">
							<p>Finance JO</p>
							<ul>
								<li>Finance JOs work under the Finance Director of TASA to help manage TASA's budgeting and funds.</li>
								<li>You will also help keep track of event costs and decide what events are financially feasible, and help with contacting businesses to promote TASA for profit shares and fundraisers.</li>
							</ul>
							<a href="https://goo.gl/forms/Pzb8HRouExgVYT9g1">APPLY NOW</a> 
						</div>
						<div class="position-list-item">
							<img src="../images/icon/computer.png">
							<p>Web JO</p>
							<ul>
								<li>JOs under Web Director will be involved in updating and maintaining the TASA website with upcoming event details.</li>
								<li>If you have some web experience, simply want to gain experience, or have creative ideas to improve our website, this would be a good position for you!</li>
							</ul>
							<a href="https://goo.gl/forms/Pzb8HRouExgVYT9g1">APPLY NOW</a> 
						</div>
					</div>

					<div class="col-30">
						<div class="position-list-item">
							<img src="../images/icon/heart.png">
							<p>External JO</p>
							<ul>
								<li>VP-E JOs primarily communicate with other organizations regarding mixers and club parties. Members in external also are in charge of communicating with TASA alumni and setting up events involving TASA alumni.</li>
								<li>You will also help with finding and choosing the best performers for Taste of Taiwan.</li>
							</ul>
							<a href="https://goo.gl/forms/Pzb8HRouExgVYT9g1">APPLY NOW</a> 
						</div>
						<div class="position-list-item">
							<img src="../images/icon/brightness.png">
							<p>Marketing JO</p>
							<ul>
								<li>Marketing JOs will be involved in designing promotional material such as fliers and designing t-shirts for Night Market and Taste of Taiwan.</li>
								<li>Working under marketing gives you a creative outlet to promote TASA GM's and events through designing event banners throughout the semester.</li>
							</ul>
							<a href="https://goo.gl/forms/Pzb8HRouExgVYT9g1">APPLY NOW</a> 
						</div>
						<div class="position-list-item">
							<img src="../images/icon/camera.png">
							<p>Media JO</p>
							<ul>
								<li>Media JOs help with taking pictures at events TASA hosts or participates in and posting them on social media. The members in media are primarily in charge of managing TASA's social media presence.</li>
							</ul>
							<a href="https://goo.gl/forms/Pzb8HRouExgVYT9g1">APPLY NOW</a> 
						</div>
					</div>

					<div class="col-30">
						<div class="position-list-item">
							<img src="../images/icon/calendar.png">
							<p>Special Events JO</p>
							<ul>
								<li>As a Special Events JO, you help with the planning of socials, GMs, icebreakers, retreats, and banquets.</li>
								<li>Creative and fun ideas are ideal for this position, as we will be making sure TASA members have fun!</li>
							</ul>
							<a href="https://goo.gl/forms/Pzb8HRouExgVYT9g1">APPLY NOW</a> 
						</div>
						<div class="position-list-item">
							<img src="../images/icon/chat.png">
							<p>Communications JO</p>
							<ul>
								<li>As a Communications JO, you work under TASA's Communications officer to send out newsletters to all members of TASA throughout the school year, and take meeting minutes to document discussions during meetings involving all TASA officers and JO's.</li>
								<li>Working under communications also allows you to learn about managing TASA's family system, whether it be through updating family points or communicating directly with TASA family heads and general members as needed.</li>
							</ul>
							<a href="https://goo.gl/forms/Pzb8HRouExgVYT9g1">APPLY NOW</a> 
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- OLD TASA POSITIONS -->

		<!--<div class="position-list-item">
			<img src="../images/icon/trophy.png">
			<p>Athletics JO</p>
			<ul>
				<li>As a JO under the Athletic Director, you will be helping with sign ups for IM sports and encouraging members to join the teams.</li>
				<li>You will also be asked to help plan sports-related events, such as the annual Sports Day.</li>
			</ul>
			<a href="https://goo.gl/forms/Pzb8HRouExgVYT9g1">APPLY NOW</a> 
		</div>-->

		<!--<div class="position-list-item">
			<img src="../images/icon/support.png">
			<p>Philanthropy JO</p>
			<ul>
				<li>JOs under Philanthropy will assist in finding and overseeing volunteer experiences for members. </li>
				<li>You will work with your officer to ensure TASA is contributing to the greater Austin community by organizing volunteer activities. </li>
			</ul>
			<a href="https://goo.gl/forms/Pzb8HRouExgVYT9g1">APPLY NOW</a> 
		</div>-->


			<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2018</p>
				<div class="social-icon">
					<a href="https://www.facebook.com/texastasa">
						<img onclick="recordMedia('fb');" src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://instagram.com/uttasa">
						<img onclick="recordMedia('ig');" src="../images/logo/instagram.png" alt="Instagram">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img onclick="recordMedia('yt');" src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="https://twitter.com/uttasa">
						<img onclick="recordMedia('tw');" src="../images/logo/twitter.png" alt="Twitter">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>

<script src="../js/jquery-2.1.4.js"></script>
<script>
	window.onload = function (){
		
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";//change from "load" to "loaded"
		console.log("done");
		
		//Run My Click Counter!
		document.getElementsByTagName("body")[0].onclick = recordClick;
		//Record Page Visit!
		recordVisit();
		//Record Tab Visit!
		recordApply();
	}
</script>
</html>