<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | Events</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">

	<!-- RECORD USER ACHIEVEMENTS -->
	<script src="../js/Achievements/trackers.js"></script>
	<script src="../js/Achievements/cookies.js"></script>	
<style>
	#darktheme{
		background-color: #4f4f4f;
	}
	#top_image{
		border: 4px solid black;
	}
</style>
</head>
<body id="darktheme">
	<div class="main-container" id="top">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="current-nav-item" href="../views/events.html">Events</a></li>
				<!--<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>-->
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>

		<!-- BODY CONTENT HERE -->
		<div class="body-content wrap clearfix event load" id="main-container">
			<div class="hero-image">
				<div class="overlay right">
					<div class="overlay-text">
						<span class="highlight">TASA</span> Assassins<br>
						Who will <span class="highlight">rise?</span>
					</div>
					<div class="triangle"></div>
				</div>
				<center><img src="../images/hero/101.jpg" alt="" width="1024px" height="500px" id="top_image"></center>
			</div>
			<br><br>
			<div class="row-container">
				<center><strong><font size="+3" style="color: black">RULES: <a class="highlight" href="http://tinyurl.com/TasaAssassinsRules" >tinyurl.com/TasaAssassinsRules</a></font></strong></center>
				<br>
				<span class="small-font wrap" style="letter-spacing: -1px;">
					<center><h1 class="title"> Killed in Action: <span class="highlight">8</span></h1>
					Updated 2/7 9:20pm</center>
				</span>
				<br>

				<div class="about">
					<div class="row-container">
						<div class="row five">
							<div class="portrait">
								<img src="../images/portrait/assassins/dead.jpg">
								<img src="../images/portrait/assassins/dead.jpg">
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/dead.jpg">
								<img src="../images/portrait/assassins/dead.jpg">
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/dead.jpg">
								<img src="../images/portrait/assassins/dead.jpg">
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/dead.jpg">
								<img src="../images/portrait/assassins/dead.jpg">
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/dead.jpg">
								<img src="../images/portrait/assassins/dead.jpg">
							</div>
						</div>
					</div>
				</div>

				<span class="small-font wrap" style="letter-spacing: -1px;">
					<center><h1 class="title"> TASA Assassins <span class="highlight"></span> </h1></center>
				</span>
				<br>

				<div class="about">
					<div class="row-container">
						<div class="row five">
							<div class="portrait">
								<img src="../images/portrait/assassins/alan.jpg">
								<img src="../images/portrait/assassins/alan.jpg">
								<h1> Alan Cooper </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/alex.jpg">
								<img src="../images/portrait/assassins/alex.jpg">
								<h1> Alex Chiu </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/andrew.jpg">
								<img src="../images/portrait/assassins/andrew.jpg">
								<h1> Andrew Ngo </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/angel.jpg">
								<img src="../images/portrait/assassins/angel.jpg">
								<h1> Angel Chui </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/ann.jpg">
								<img src="../images/portrait/assassins/ann.jpg">
								<h1> Ann Wang </h1>
							</div>
						</div>
						<br>

						<div class="row five">
							<div class="portrait">
								<img src="../images/portrait/assassins/ban.jpg">
								<img src="../images/portrait/assassins/ban.jpg">
								<h1> Ban-Jian Pan </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/ben.jpg">
								<img src="../images/portrait/assassins/ben.jpg">
								<h1> Ben Chaiprasert </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/chelsea.jpg">
								<img src="../images/portrait/assassins/chelsea.jpg">
								<h1> Chelsea Wang </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/claire.jpg">
								<img src="../images/portrait/assassins/claire.jpg">
								<h1> Claire Pippin </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/ericc.jpg">
								<img src="../images/portrait/assassins/ericc.jpg">
								<h1> Eric Chen </h1>
							</div>
						</div>
						<br>

						<div class="row five">
							<div class="portrait">
								<img src="../images/portrait/assassins/erics.jpg">
								<img src="../images/portrait/assassins/erics.jpg">
								<h1> Eric Sun </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/george.jpg">
								<img src="../images/portrait/assassins/george.jpg">
								<h1> George Du </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/hiro.jpg">
								<img src="../images/portrait/assassins/hiro.jpg">
								<h1> Hiro Chang </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/irene.jpg">
								<img src="../images/portrait/assassins/irene.jpg">
								<h1> Irene Chiang </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/jannery.jpg">
								<img src="../images/portrait/assassins/jannery.jpg">
								<h1> Jannery Tam </h1>
							</div>
						</div>
						<br>

						<div class="row five">
							<div class="portrait">
								<img src="../images/portrait/assassins/jay.jpg">
								<img src="../images/portrait/assassins/jay.jpg">
								<h1> Jay Chen </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/jenny.jpg">
								<img src="../images/portrait/assassins/jenny.jpg">
								<h1> Jenny Cheng </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/jeremy.jpg">
								<img src="../images/portrait/assassins/jeremy.jpg">
								<h1> Jeremy Hay </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/jing.jpg">
								<img src="../images/portrait/assassins/jing.jpg">
								<h1> Jing Hu </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/jocelyn.jpg">
								<img src="../images/portrait/assassins/jocelyn.jpg">
								<h1> Jocelyn Harnold </h1>
							</div>
						</div>
						<br>

						<div class="row five">
							<div class="portrait">
								<img src="../images/portrait/assassins/kei.jpg">
								<img src="../images/portrait/assassins/kei.jpg">
								<h1> Kei Hsu </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/lauren.jpg">
								<img src="../images/portrait/assassins/lauren.jpg">
								<h1> Lauren Chen </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/lillianne.jpg">
								<img src="../images/portrait/assassins/lillianne.jpg">
								<h1> Lillianne Le </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/luan.jpg">
								<img src="../images/portrait/assassins/luan.jpg">
								<h1> Luan Lam </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/megan.jpg">
								<img src="../images/portrait/assassins/megan.jpg">
								<h1> Megan Ngai </h1>
							</div>
						</div>
						<br>

						<div class="row five">
							<div class="portrait">
								<img src="../images/portrait/assassins/natasha.jpg">
								<img src="../images/portrait/assassins/natasha.jpg">
								<h1> Natasha Hsu </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/robert.jpg">
								<img src="../images/portrait/assassins/robert.jpg">
								<h1> Robert Guan </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/sammy.jpg">
								<img src="../images/portrait/assassins/sammy.jpg">
								<h1> Sammy Chien </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/shumeng.jpg">
								<img src="../images/portrait/assassins/shumeng.jpg">
								<h1> Shumeng Zhao </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/stephen.jpg">
								<img src="../images/portrait/assassins/stephen.jpg">
								<h1> Stephen Huang </h1>
							</div>
						</div>
						<br>

						<div class="row five">
							<div class="portrait">
								<img src="../images/portrait/assassins/tony.jpg">
								<img src="../images/portrait/assassins/tony.jpg">
								<h1> Tony Ly </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/wenwen.jpg">
								<img src="../images/portrait/assassins/wenwen.jpg">
								<h1> Wenwen Wang </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/winston.jpg">
								<img src="../images/portrait/assassins/winston.jpg">
								<h1> Winston Hung </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/yoann.jpg">
								<img src="../images/portrait/assassins/yoann.jpg">
								<h1> Yoann Dequin </h1>
							</div>
							<div class="portrait">
								<img src="../images/portrait/assassins/z.jpg">
								<img src="../images/portrait/assassins/z.jpg">
								<h1>  </h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="event-container">





		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2018</p>
				<div class="social-icon">
					<a href="https://www.facebook.com/texastasa">
						<img onclick="recordMedia('fb');" src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://instagram.com/uttasa">
						<img onclick="recordMedia('ig');" src="../images/logo/instagram.png" alt="Instagram">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img onclick="recordMedia('yt');" src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="https://twitter.com/uttasa">
						<img onclick="recordMedia('tw');" src="../images/logo/twitter.png" alt="Twitter">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
<script src="../js/jquery-2.1.4.js"></script>
<script type="text/javascript">
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";
		console.log("done");

		//Run My Click Counter!
		document.getElementsByTagName("body")[0].onclick = recordClick;
		//Record Page Visit!
		recordVisit();
		//Record Tab Visit!
		recordTab();
	}


//Begin Event Tab stuff
	function openEvents(evt, Name) {
	var i, tabcontent, tablinks;
	tabcontent = document.getElementsByClassName("tabcontent");
	for(i=0;i<tabcontent.length;i++){
		tabcontent[i].style.display="none";
	}
	tablinks=document.getElementsByClassName("tablinks");
	for(i=0;i<tablinks.length;i++){
		tablinks[i].className = tablinks[i].className.replace(" active","");
	}
	document.getElementById(Name).style.display= "block";
	evt.currentTarget.className +=" active"
	}


	//End Event Tab stuff
</script>	
<script type="text/javascript">
	  $('.fixJump').click( function(e) {
	   e.preventDefault();
	  });
	</script>



<script type="text/javascript">
	$('a[href*=#]:not([href=#])').click(function() {
		if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') || location.hostname == this.hostname) {
			var target = $(this.hash);
			target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			if (target.length) {
				$('html,body').animate({
					scrollTop: target.offset().top
				}, 1000);
				return false;
			}
		}
	});
</script>
</html>