<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | Events</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">

	<!-- RECORD USER ACHIEVEMENTS -->
	<script src="../js/Achievements/trackers.js"></script>
	<script src="../js/Achievements/cookies.js"></script>		
</head>

<body>
	<div class="main-container" id="top">

		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="current-nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/requirements.html">Requirements</a></li>
					<li><a class="nav-item" href="../views/achievements.html">Achievements</a></li>
				</ul>
			</div>
		</header>

		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix event load" id="main-container">
			<div class="hero-image">
				<div class="overlay left">
					<div class="overlay-text">
						<span class="highlight"><a href="../views/index.html"> Join us </a></span> this semester<br>
						Experience <span class="highlight"><a href="https://www.utexas.edu/"> Austin </a></span> with TASA
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/2018_5.jpg" alt="">
			</div>

			<ul class="tab">
				<li><a href="#" class="tablinks fixJump active" onclick="openEvents(event,'s19')">Spring 2019</a></li>
				<li><a href="#" class="tablinks fixJump" onclick="openEvents(event,'f18')">Fall 2018</a></li>
			</ul>

			<div class="event-container">
				<!-- Spring 2019 Events -->
				<div id="s19" class="tabcontent single" style="display:block">

					<!-- GM #10 -->
					<div class="overview-list-item clearfix" id="s19_gm_10">
						<img src="../images/icon/chat.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/2305403953040202/">
							General Meeting: Valentine's Day<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Feb 13th, 7PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">JGB 2.216</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							We'll be in JGB 2.216 this time again! It's the day before Valentine's Day, so fear not all of you single folks, come out and have fun with your TASA friends!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/2305403953040202/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- Paintball -->
					<div class="overview-list-item clearfix" id="s19_paintball">
						<img src="../images/icon/focus.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/983131575209544/">
							TASA goes Paintballzing<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Feb 3rd, 9AM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Outlaw Paintball</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Do you have the balls to experience the pain of paintballing? Doesn't matter! You should come paintballing with TASA anyways! There are several different courses and modes to play so come out and try them all. Get ready for the adrenaline rush when your ducking, running, and shooting with or against your friends! We will also be getting lunch together afterwards! Make sure to sign up by February 1st.<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/983131575209544/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- GM #9 -->
					<div class="overview-list-item clearfix" id="s19_gm_9">
						<img src="../images/icon/chat.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/1158513507639808/">
							General Meeting: Welcome Back!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Jan 30th, 7PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">JGB 2.216</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come join us for TASA's 9nd General Meeting and our first one of the new semester! We'll be in JGB 2.216 this time! Lunar New Year is also coming up, so we'll be celebrating too!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/1158513507639808/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- Downtown -->
					<div class="overview-list-item clearfix" id="s19_downtown">
						<img src="../images/icon/map.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/234813504106649/">
							TASA visits Downtown!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Jan 26th, 5PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Downtown Austin</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come join TASA for our first event of the new semester! We'll be heading downtown to see the bats emerge at the Congress Avenue Bridge, before heading to Fareground for dinner!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/234813504106649/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

				</div>

				<!-- Fall 2018 Events -->
				<div id="f18" class="tabcontent single">

					<!-- Trail of Lights -->
					<div class="overview-list-item clearfix" id="f18_trail_of_lights">
						<img src="../images/icon/polaroids.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/2033884806706187/">
							TASA Trail of Lights<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Dec 11th, 7:30PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Zilker Park</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							It's TASA's last social of the year! Come out to enjoy the holiday lights with your TASA family! Please sign up by December 9th at 11:59 pm!
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/1687544228016678/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- Winter Banquet -->
					<div class="overview-list-item clearfix" id="f18_banquet">
						<img src="../images/icon/dumpling.jpg">
						<h2 class="title"><a href = "https://www.facebook.com/events/2078650215780741/">
							TASA Winter Banquet - Subtle Rich Asians<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Dec 8th, 6PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">New Fortune Chinese Seafood Restaurant</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come join your TASA family for our winter banquet! Look forward to fancy Chinese dining, secret santa, and more!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/2078650215780741/">HERE!</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- Slosh Mixer -->
					<div class="overview-list-item clearfix" id="f18_slosh_mixer">
						<img src="../images/icon/fashion.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/2086264004759549/">
							TASA X SLOSH Mixer<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Dec 1st, 8PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">SZB 296</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Dance the night away with SLOSH! Don't know how to dance? Don't Worry! Come to this dance workshop co-hosted by TASA and SLOSH. Henry Zhang and Meili Dubbs will be teaching salsa, so come by to learn some sexy Latin dance moves!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/2086264004759549/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>					

					<!-- TASA Longsleeve Sale -->
					<div class="overview-list-item clearfix" id="f18_fundraiser">
						<img src="../images/icon/shop.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/347136356094980/">
							TASA Longsleeve Sale<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Ends Nov. 29th
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Ohhhhh babyyy it's cold outside~ ❄❄☃☃ Stay warm with a TASA longsleeve (designed by Linh Tran) Please fill out the form to place an order! One shirt per order form. If you would like a specific officer to hold onto your shirt, please note it in the comments section. Order <span class="light highlight"><strong><a href = "https://docs.google.com/forms/d/e/1FAIpQLScvSdDPtRWKx29pBXRB5scET9de7eWTLrxK0XG_HBtaB6IvVQ/viewform?fbclid= IwAR140AZmk0yGoaoJ7-vJdqZ0v0VPQLIcAfQ6ogkHI7Qb7lP4sOEL3n7PGz0">HERE!</a></strong><br></span>
						</p>
					</div>

					<!-- GM #8 -->
					<div class="overview-list-item clearfix" id="f18_gm_8">
						<img src="../images/icon/chat.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/1687544228016678/">
							General Meeting: Final One!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Nov 28th, 7PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">BUR 224</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come join us for TASA's 8th General Meeting of the year! We'll be in BUR 224 again this time! This will be our LAST GM of the semester, so make sure to come out and spend some time with all your TASA buddies!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/1687544228016678/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- BlazerTag Social -->
					<div class="overview-list-item clearfix" id="f18_blazertag">
						<img src="../images/icon/focus.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/644754269252826/">
							TASA Blazes It!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Nov 18th, 1PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Blazer Tag</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come out and play laser tag with TASA! We'll be getting BOBA or other desserts after!<br>
						Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/644754269252826/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- National Family Volunteer Day -->
					<div class="overview-list-item clearfix" id="f18_nfvd">
						<img src="../images/icon/heart.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/342323119864605/">
							National Family Volunteer Day<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Nov 17th, 9:30AM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Millenium Youth Entertainment Complex</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come volunteer for National Family Volunteer Day, a national effort designed to encourage families to volunteer together, introduce children to volunteering, and strengthen our community! Projects may include assembling creative centerpieces and other fun decoration for the upcoming Feast of Sharing meal hosted by HEB.<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/342323119864605/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- JO Fundraiser -->
					<div class="overview-list-item clearfix" id="f18_jo_fundraiser">
						<img src="../images/icon/clock.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/253278158696235/">
							Pineapple Cake Fundraiser!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Nov 12th - Nov 15th, 11AM - 2PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Speedway</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Texas TASA JOs are proud to present homemade Taiwanese pineapple cakes for everyone for only $1! If you want a sweet treat, come by when we're on Speedway on 11/12 - 11/15 at 11am - 2pm!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/253278158696235/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- GM #7 -->
					<div class="overview-list-item clearfix" id="f18_gm_7">
						<img src="../images/icon/chat.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/331304614322117/">
							General Meeting: Thanksgiving!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Nov 14th, 7PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">BUR 224</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come join us for TASA's 7nd General Meeting of the year! We'll be in BUR 224 again for Thanksgiving this time! We'll be having a potluck with each family bringing their own dishes, so come out, have some (hopefully edible) food, and spend time with friends!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/331304614322117/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- Ice Skating Social -->
					<div class="overview-list-item clearfix" id="f18_ice_skating">
						<img src="../images/icon/snow.jpg">
						<h2 class="title"><a href = "https://www.facebook.com/events/310191509805980/">
							TASA Ice Skating!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Nov 11th, 1PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Chaparral Ice</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Want to enjoy an afternoon of bruised knees and plenty of fun? Join TASA at our ice skating social! No ice skating skills required, we promise!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/310191509805980/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- KDC Mixer -->
					<div class="overview-list-item clearfix" id="f18_kdc_mixer">
						<img src="../images/icon/fashion.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/1802153486574393/">
							TASA X KDC Mixer/Workshop<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Nov 3rd, 2PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Gregory Gymnasium</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Do you want to learn to dance? Do you already know how to dance? Do you want to make more friends? Well if you answered yes to any of questions, then boost your weekend morale by coming to casual workshops co-hosted by TASA and KDC!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/1802153486574393/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- Park Day -->
					<div class="overview-list-item clearfix" id="f18_park_day">
						<img src="../images/icon/weather.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/172561833686755/">
							It's My Park Day: Pease Park<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Nov 3rd, 8:40AM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">1100 Kingsbury St</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come help keep Austin beautiful and away from another boil water crisis! We are going to one of Austin's many natural parks to help pick up trash, mulch, and remove invasive species.<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/172561833686755/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- GM #6 -->
					<div class="overview-list-item clearfix" id="f18_gm_6">
						<img src="../images/icon/chat.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/2252397158375177/">
							General Meeting: Halloween!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Oct 31st, 7PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">BUR 224</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come join us for TASA's 6th General Meeting of the year! We'll be BACK in BUR 224 for Halloween!!! We'll be having a costume contest with family points on the line, so come dressed to impress!<br>
						Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/2252397158375177/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>					

					<!-- Night Market -->
					<div class="overview-list-item clearfix" id="f18_night_market">
						<img src="../images/icon/lantern.jpg">
						<h2 class="title"><a href = "nm.html">
							TASA's 16th Annual Night Market<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Oct. 25th, 7PM &emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">UT Main Mall</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							TASA's biggest event of the year is back once again! Bringing the night life of Taiwan directly to you, Texas Taiwanese American Students Association invites YOU to come out to the UT tower for FREE food and games, featuring a variety of performances, culture, and raffles throughout the night.<br>
						Look <span class="light highlight"><strong><a href = "nm.html">HERE</a></strong></span> for more information!<br>
						Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/1094829580673268/">HERE</a></strong></span> for our Facebook event!<br>
						</p>
					</div>

					<!-- GM #5 -->
					<div class="overview-list-item clearfix" id="f18_gm_5">
						<img src="../images/icon/chat.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/950873428444067/">
							General Meeting: GOP + Prep Night!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Oct 24, 7PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Jester West Kitchen</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come join us for TASA's 5nd General Meeting of the year! We'll be meeting in Jester West Kitchen to prepare for our annual Night Market! We'll be making booths, games, posters, and best of all, GREEN ONION PANCAKES.<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/950873428444067/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- House of Torment -->
					<div class="overview-list-item clearfix" id="f18_house_of_torment">
						<img src="../images/icon/shoeprints.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/1717377235038201/">
							TASA Gets Spooked!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Oct 12, 8PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">House of Torment</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Stressed out by midterms? Terrified by that paper you have due next week? Spooked by upcoming projects? Come out with TASA to the House of Torment, a local Austin attraction, to let all that stress go!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/1717377235038201/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- GM #4 -->
					<div class="overview-list-item clearfix" id="f18_gm_4">
						<img src="../images/icon/chat.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/547611389037278/">
							General Meeting: Come for the "Laughs"<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Oct 10, 7PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">BUR 224</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come join us for TASA's 4th General Meeting of the year! We'll be having some fun activities for you and your families, so come on out and get to know the rest of your family better ~<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/547611389037278/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- Urban Roots Volunteering -->
					<div class="overview-list-item clearfix" id="f18_urban_roots">
						<img src="../images/icon/flower.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/144896046456891/">
							Urban Roots Volunteering<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Oct 6, 8:30AM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Urban Roots Farm</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Have a green thumb? Or do you kill everything you touch? Doesn't matter. Either way, come out and help with a homegrown cause behind feeding and helping our local community with sustainable produce! 🌱<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/144896046456891/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>					

					<!-- GM #3 -->
					<div class="overview-list-item clearfix" id="f18_gm_3">
						<img src="../images/icon/chat.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/256014635056408/">
							General Meeting: Mid-Autumn & Family Reveal!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Sep 26, 7PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">BUR 224</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Join us for TASA's third General Meeting of the year! We'll finally be revealing each of our wonderful families, and have some fun activities to celebrate the Mid-Autumn Festival!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/256014635056408/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>					

					<!-- Bowling Social -->
					<div class="overview-list-item clearfix" id="f18_bowling_social">
						<img src="../images/icon/aperture.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/670307633356352/">
							TASA Hits the Lanes!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Sep 21, 8PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Millennium Youth Entertainment Complex</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Start off your weekend by joining TASA for a fun night bowling! Come on out to have fun and laugh at everyone together as we attempt to bowl ~<br>
							A group of us will be meeting at around 7 PM to eat at Dobie first ~ come out if you'd like to join!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/670307633356352/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- CASA Superhero Run -->
					<div class="overview-list-item clearfix" id="f18_casa_superhero_run">
						<img src="../images/icon/running.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/247570802609850/">
							CASA Superhero Run<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Sep 16, 6:30AM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">11501 Burnet Rd</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Come out to the CASA Superhero Run to up course spirit by cheering on the runners with wacky superhero costumes!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/247570802609850/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- GM #2 -->
					<div class="overview-list-item clearfix" id="f18_gm_2">
						<img src="../images/icon/chat.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/238488606815786/">
							General Meeting: Family Head Reveal!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Sep 12, 7PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">BUR 224</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							We will be announcing our family theme and family heads for this upcoming year! Come out to learn more and to meet them!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/238488606815786/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- Capture the Flag -->
					<div class="overview-list-item clearfix" id="f18_capture_the_flag">
						<img src="../images/icon/flag.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/1856932774426993/">
							TASA Capture(s) the Flag!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Sep 8th, 6:30PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Texas State Capitol</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Join TASA as we head to the Texas State Capitol to capture the flag! Not the state one, just our own in a friendly game in the dark. We'll meet first at Austin's Pizza on Guadalupe @ 6:30PM before all heading over to the Capitol together!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/1856932774426993/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- GM #1 -->
					<div class="overview-list-item clearfix" id="f18_gm_1">
						<img src="../images/icon/chat.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/529995174087665/">
							General Meeting: Welcome!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Sep 5th, 7PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">BUR 224</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Texas TASA Invites you to our first General Meeting! We welcome EVERYONE, so come out to meet some wonderful people and enjoy FREE CHINESE FOOD!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/529995174087665/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- Barton/Zilker Social -->
					<div class="overview-list-item clearfix" id="f18_barton_zilker_social">
						<img src="../images/icon/image.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/1840265659383486/">
							Adventure at Zilker & Barton!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Sep 3rd, 10AM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">Barton Springs Pool</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							TASA invites you for a Labor Day trip to the Barton Springs Pool and ZIlker Park!<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/1840265659383486/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- SoCo Social -->
					<div class="overview-list-item clearfix" id="f18_soco_social">
						<img src="../images/icon/crossroads.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/303959137022179/">
							A Trip to SoCo with TASA!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Sep 1st, 4PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">South Congress</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Join us this weekend, as TASA visits South Congress! We'll be checking out one of Austin's iconic landmarks, filled with boutiques, eateries, galleries, shops, and more! It's a must-see landmark here in Austin ~<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/303959137022179/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>

					<!-- Welcome Dinner -->
					<div class="overview-list-item clearfix" id="f18_welcome_dinner">
						<img src="../images/icon/heart.png">
						<h2 class="title"><a href = "https://www.facebook.com/events/277483752843710/">
							TASA's Welcome Dinner!<br></a>
							<span class="small-font light highlight" style="letter-spacing: -1px;">
								Aug 29th, 6PM &emsp;&emsp;&emsp;<span class="small-font light" style="letter-spacing: -1px; color: black;">26th and Rio Grande</span>
							</span>
						</h2>
						<p class="subtext" style="width: 60%">
							Join TASA for dinner at the food trucks up by 26th and Rio Grande! Whether you're looking for a place to eat, need advice for your classes or just want to socialize, anyone is welcome to join! Don't be shy ~<br>
							Look <span class="light highlight"><strong><a href = "https://www.facebook.com/events/277483752843710/">HERE</a></strong></span> for more information!<br>
						</p>
					</div>
				</div>
			</div>

		</div>

		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2019</p>
				<div class="social-icon">
					<a href="https://www.facebook.com/texastasa">
						<img onclick="recordMedia('fb');" src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://instagram.com/uttasa">
						<img onclick="recordMedia('ig');" src="../images/logo/instagram.png" alt="Instagram">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img onclick="recordMedia('yt');" src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="https://twitter.com/uttasa">
						<img onclick="recordMedia('tw');" src="../images/logo/twitter.png" alt="Twitter">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>

<script src="../js/jquery-2.1.4.js"></script>

<script type="text/javascript">
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";
		console.log("done");

		//Run My Click Counter!
		document.getElementsByTagName("body")[0].onclick = recordClick;
		//Record Page Visit!
		recordVisit();
		//Record Tab Visit!
		recordTab();
	}

	//Begin Event Tab stuff
	function openEvents(evt, Name) {
	var i, tabcontent, tablinks;
	tabcontent = document.getElementsByClassName("tabcontent");
	for(i=0;i<tabcontent.length;i++){
		tabcontent[i].style.display="none";
	}
	tablinks=document.getElementsByClassName("tablinks");
	for(i=0;i<tablinks.length;i++){
		tablinks[i].className = tablinks[i].className.replace(" active","");
	}
	document.getElementById(Name).style.display= "block";
	evt.currentTarget.className +=" active"
	}
	//End Event Tab stuff
</script>

<script type="text/javascript">
	$('.fixJump').click( function(e) {
		e.preventDefault();
	});
</script>

<script type="text/javascript">
	$('a[href*=#]:not([href=#])').click(function() {
		if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') || location.hostname == this.hostname) {
			var target = $(this.hash);
			target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			if (target.length) {
				$('html,body').animate({
					scrollTop: target.offset().top
				}, 1000);
				return false;
			}
		}
	});
</script>
</html>