<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | Requirements</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
	
	<!-- RECORD USER ACHIEVEMENTS -->
	<script src="../js/Achievements/trackers.js"></script>
	<script src="../js/Achievements/cookies.js"></script>		
</head>
<body>
	<div class="main-container">

		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="current-nav-item" href="../views/requirements.html">Requirements</a></li>
					<li><a class="nav-item" href="../views/achievements.html">Achievements</a></li>
				</ul>
			</div>
		</header>

		<!-- BODY CONTENT STARTS HERE -->
			<div class="body-content wrap clearfix home load" id="main-container">
			<div class="hero-image">
				<div class="overlay left">
					
				</div>
				
			</div>

			<div class="overview-container">
				<div class="single clearfix" style="width: 100%">
					<div class="section" style="display: block; padding: 0% 5%">
						<img src="../images/icon/trophy.png" alt="trophy">
						<span class="highlight"> Active Member Status</span>
						<img src="../images/icon/trophy.png" alt="trophy">
						<br><br>
					</div>
						
                    <div class="overview-list-item clearfix">
						<h2 class="title" style="color: black;">
							<li>Be a paid TASA Member<br><br></li>
							<li>Attend at least 6/8 GM'S<br><br></li>
							<li>Attend at least 75% of socials<br><br></li>
							<li>Attend at least one volunteering event<br><br></li>
							<li>Volunteer for Night Market or Taste of Taiwan<br><br></li>
							<li>Attend at least 60% of family socials<br><br></li>
					</div>
				</div>
			</div>
		</div>

		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2019</p>
				<div class="social-icon">
					<a href="https://www.facebook.com/texastasa">
						<img onclick="recordMedia('fb');" src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://instagram.com/uttasa">
						<img onclick="recordMedia('ig');" src="../images/logo/instagram.png" alt="Instagram">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img onclick="recordMedia('yt');" src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="https://twitter.com/uttasa">
						<img onclick="recordMedia('tw');" src="../images/logo/twitter.png" alt="Twitter">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
<script type="text/javascript">
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";
		console.log("done");

		//Run My Click Counter!
		document.getElementsByTagName("body")[0].onclick = recordClick;
		//Record Page Visit!
		recordVisit();
		//Record Tab Visit!
		recordTab();
	}
</script>
</html>


